@model IEnumerable<SoundBlog.Models.Company>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AlLayout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />

<p>
    <a asp-action="Create">Yeni ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompanyID">Edit</a> |
              
                <a asp-action="Delete" asp-route-id="@item.CompanyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
