@model IEnumerable<SoundBlog.Models.Artist>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AlLayout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />

<p>
    <a asp-action="Create">Yeni ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtistID">Edit</a> |
               
                <a asp-action="Delete" asp-route-id="@item.ArtistID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
